{% extends 'template.html.twig' %}

{% block title %}Overview{% endblock%}

{% block body %}

    <div id="page-wrapper">
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        An error has occurred
                    </h1>
                    <ol class="breadcrumb">
                        <p>{{ message }}</p>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

{% endblock %}