{% extends 'template.html.twig' %}

{% block title %}Overview{% endblock%}

{% block body %}

    <div id="page-wrapper">
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-8">
                    <h1 class="page-header">
                        Welcome to CherryGit
                    </h1>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <ul>
                        <li>
                            coucou
                        </li>
                        <li>
                            coucou
                        </li>
                    </ul>
                    <hr>
                    <button class="btn btn-info"><a style="color: white;" href="/post">Form</a></button>
                    <br>
                    <br>
                    <p>After each successful merge, system will block other requests until you unlock them by click here<p>
                    <button class="btn btn-success"><a style="color: white;" href="/status/1">Unlock</a></button>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

{% endblock %}